{% include header.html %}
    <div class="wrapper">
      <div class="content">
        <div class="container container-center">
          <div class="row">
            <div class="col-md-8">
              <div class="article">
                <div class="well">
                  <h1><a href="{{ site.baseurl | append:page.url }}">{{ page.title }}</a></h1>
                  <div class="post-meta">
                    <div class="post-time">
                      <i class="fa fa-calendar"></i>
                      <time>{{ page.date | date_to_string }}</time>
                    </div>
                    <ul>
                      {% for tag in page.tags %}
                        <li><a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="post-content">
                    <div id="toc" class="toc"></div>
                    {{ content }}
                    {% include share.html %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 hidden-xs">
              {% include sidebar.html %}
            </div>
          </div>
        </div>
      <div id="container"></div>
      <link rel="stylesheet" href="{{site.baseurl}}/css/gitment.css">
      <script src="{{site.baseurl}}/js/gitment.browser.js"></script>
      <script>
      var gitment = new Gitment({
        id: location.href,
        owner: 'zighouse',
        repo: 'blog',
        oauth: {
          client_id: 'cb5e5563f6f5cd938416',
          client_secret: 'ba262e9272e5e47ace4c1be94d31abe9f0063eeb',
        },
      })
      gitment.render('container')
      </script>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
